* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
body{
    font-family: 'DM Sans', sans-serif;
    background-color: #191919;
}
header,main,footer{
    background-color:#191919;
    color:#FFFFFF;
    width:1440px;
    padding-left:70px;
    padding-right:70px;
}
main{
    margin-bottom:200px;
}
.header-title-wrapper{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    height: 119px;
    align-items:center;
}
.header-links-wrapper{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 40px;
}
.header-home{
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #118DA8;
}
.header-episodes,.header-about,.header-contact{
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
}
.header-image-quote-wrapper{
    display:flex;
    flex-direction: row;
}
.header-quote-wrapper{
    font-weight: 400;
    width:576px;
    height:267px;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3.2px;
    margin-left:60px;
    margin-top:200px;
}
.header-quote-larger{
    font-weight: 400;
    font-size: 75px;
    line-height: 88px;
    letter-spacing: 3.2px;
}
.header-quote-largest{
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 3.2px;
}
.header-media-wrapper{
    display:flex;
    flex-direction: column;
}
.media-wrapper{
    margin-left:60px;
    margin-top:90px;
}
.media-title{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.media-images-wrapper{
    display:flex;
    flex-direction: row;
}
.media-image{
    margin-right:17px
}
.main-title-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:93px;
    margin-bottom:66px;
    align-items:center;
}
.main-title{
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: 2.88px;
}
.main-title-link-wrapper{
    background: #118DA8;
    border-radius: 6px;
    width:178px;
    height:51px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.main-title-link{
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
}
.episodes-wrapper{
    display:grid;
    grid-row-gap:60px;
    margin-bottom:260px;
}
.episode-wrapper{
    display:flex;
    flex-direction:row;
    background-color:#000000;
    width: 1300px;
    height:545px;
    padding:40px;
    border-radius:32px;
}
.episode-image-wrapper{
    margin-right:53px;
    align-self: center;
}
.theme-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width:73px;
    height:27px;
    margin-top:8px;
    background-color:#191919;
    border-radius: 6px;
    margin-bottom:48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.episode-num{
    font-weight: 400;
    font-size: 17px;
    color:#118DA8;
    line-height: 27px;
    margin-bottom:18px;
}
.theme-wrapper-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width:136px;
    height:27px;
    margin-top:8px;
    background-color:#191919;
    border-radius: 6px;
    margin-bottom:48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.episode-title{
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 2.56px;
    margin-bottom:28px;
}
.episode-desc{
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    margin-bottom:18px;
    color: rgba(255, 255, 255, 0.7);
}
.episode-link-wrapper{
    width:208px;
    height:51px;
    background: #118DA8;
    border-radius: 6px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.episode-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.jacob-wrapper{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
.meet-your-host{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-top:20px;
    color: #118DA8;
}
.jacob-title{
    font-weight: 400;
    font-size: 65px;
    line-height: 79px;
    letter-spacing: 2.88px;
    margin-bottom:28px;
}
.jacob-text{
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom:33px;
}
.jacob-img-wrapper{
    margin-bottom:201px;
}
.subscribe-wrapper{
    display:flex;
    flex-direction: row;
    width:1300px;
    height:387px;
    justify-content:center;
    align-items: center;
    padding:60px;
    background:#000000;
    border-radius:32px;
}
.email-newsletter{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
}
.subscribe-title{
    font-weight: 400;
    font-size: 72px;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    margin-right:227px;
}
.subscribe-form-wrapper{
    display:flex;
    flex-direction: column;
}
.inputer{
    width:582px;
    height: 82px;
    background: #191919;
    border: 1px solid #191919;
    border-radius: 6px;
    margin-bottom:20px;
}
::placeholder{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
}
.subscribe-link-wrapper{
    width:87px;
    height:48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #118DA8;
    border-radius: 6px;
}
.subscribe-link-wrapper a{
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
}
.ratings-wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top:200px;
    grid-gap:16px;
}
.rating-wrapper{
    width:423px;
    height:321px;
    background:#000000;
    border-radius:32px;
    padding:50px;
}
.rate-text{
    margin-top:21px;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color:#FFFFFF;
    margin-bottom:19px;
}
.rate-name{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
}
footer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-title{
    margin-bottom:25px;
}
.footer-links-wrapper{
    display:grid;
    grid-row-gap:10px;
}
.footer-link{
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
}
.footer-media{
    margin-right:17px;
}